html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.todo-container {
    width: 500px;
    margin: 0 auto;
    z-index: 5; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
}

.todos-header {
    font-family: sans-serif;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: #bc3e45;
    font-weight: lighter;
}

.todo-input {
    width: 100%;
    padding: 10px;
    font-style: italic;
    font-size: 25px;
    border: none;
    box-sizing: border-box;
}

.todo-input:focus {
    border: 1px solid #bc3e45; 
    box-shadow: 0 0 5px #bc3e45; 
    outline: none; 
}

.filter-buttons {
    display: flex;
    justify-content: center;
    flex: 2;
    gap: 10px;
}

.filter-button {
    flex: 0;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    text-align: center;
}

.filter-button:hover {
    border: 1px solid #bc3e45;
}

.filter-button.active {
    background-color: #fff;
    border: 1px solid #bc3e45;
}

.dropdown {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    width: 100%;
}

.todo-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 25px;
    background-color: #fff;
    border-radius: 4px; 
    position: relative; 
    transform: translateY(-5px); 
    transition: all 0.3s ease; 
    box-sizing: border-box;
}

.todo-item:hover .delete-button {
    visibility: visible;
}

.todo-checkbox {
    appearance: none; 
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 2px solid #000;
    background-color: white; 
    cursor: pointer;
    position: relative;
}

.todo-checkbox:checked {
    background-color: #4CAF50;
    border: 2px solid #4CAF50; 
}

.todo-checkbox:checked::before {
    content: ''; 
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.todo-text {
    flex: 1;
    margin-left: 8px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.edit-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-input:focus {
    border: 1px solid #bc3e45; 
    box-shadow: 0 0 5px #bc3e45; 
    outline: none; 
}

.delete-button {
    cursor: pointer;
    margin-left: 5px;
    color: red;
    font-size: 16px;
    visibility: hidden; 
    transition: visibility 0.3s ease;
}

.clear-button {
    margin-left: auto; 
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.clear-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.items-left {
    white-space: nowrap;
    margin-left: 2px;
    flex: 1; 
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
}