html,
body {
    font-family: sans-serif;
}

.todo-container {
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.todos-header {
    font-family: sans-serif;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: #bc3e45;
    font-weight: lighter;
}

.todo-input {
    width: 100%;
    padding: 20px;
    font-style: italic;
    font-size: 25px;
    border: none;
    box-sizing: border-box;
}

.todo-input:focus {
    box-shadow: 0 0 5px #bc3e45;
    outline: none;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    flex: 3;
    gap: 5px;
}

.filter-button {
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
}

.filter-button:hover {
    border: 1px solid #bc3e45;
}

.filter-button.active {
    background-color: #fff;
    border: 1px solid #bc3e45;
}

.dropdown {
    padding-left: 0;
    margin-top: 10px;
    width: 100%;
}

.todo-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 25px;
    transform: translateY(-10px);
    background-color: #fff;
    box-sizing: border-box;
}

.todo-item:hover .delete-button {
    visibility: visible;
}

.todo-checkbox {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.todo-checkbox:checked {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.todo-checkbox:checked::before {
    position: absolute;
}

.todo-text {
    flex: 1;
    margin-left: 8px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.edit-input {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 55px;
    border: none;
    font-size: 25px;
    transform: translateY(-10px);
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px #bc3e45;
    outline: none;
}

.delete-button {
    cursor: pointer;
    margin-left: 5px;
    color: #bc3e45;
    font-size: 16px;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.clear-button {
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.clear-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.items-left {
    white-space: nowrap;
}

.bottom-container {
    display: flex;
    font-size: 15px;
}